body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  height: 100%; }
  body > md-content {
    height: 700px;
    /* fallback if needed */
    height: calc(100% - 64px); }

.face {
  border-radius: 60px;
  border: 1px solid #ddd;
  max-width: 90px;
  max-height: 90px;
  margin: 16px; }

.md-subheader .md-subheader-content md-input-group {
  margin-top: -14px;
  margin-bottom: -6px; }
.md-subheader .md-subheader-content > * {
  position: relative;
  z-index: 10; }

md-item-content[ui-sref]:hover {
  background: #DEDEDE;
  cursor: pointer; }
